{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="" style="width:100%; height: auto;">
                    {% else %}
                        <img src="{{ '/images/empty.jpg' | imagine_filter('medium') }}" alt="" style="width:100%; height: auto;">
                    {% endif %}
                </div>

                <div class="col">
                    <h1>{{ property.title }}</h1>

                    <h2>{{ property.rooms }} pièces - {{ property.surface }} m²</h2>

                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.formattedPrice }} €</div>

                    <a href="#" class="btn btn-primary">Contacter l'agence</a>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div id="contactForm" class="mt-4">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstName) }}</div>
                            <div class="col">{{ form_row(form.lastName) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">

        <p>{{ property.description | nl2br }}</p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractèristiques:</h2>
                <table class="table table-stripped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <h2>Spécificités:</h2>

                <ul class="list-group">
                    {% if property.options.count > 0 %}
                        {% for option in property.options %}
                            <li class="list-group-item">{{ option.name }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">-</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <nav class="nav-tabs" id="tab">

        </nav>
    </div>
{% endblock %}
